<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ProjectMobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.ProjectMobile.JobDetailsActivity"
            android:parentActivityName="com.example.ProjectMobile.AllJobActivity"/>
        <activity android:name="com.example.ProjectMobile.InsertJobPostActivity"
            android:parentActivityName="com.example.ProjectMobile.PostJobActivity"/>
        <activity android:name="com.example.ProjectMobile.PostJobActivity"
            android:parentActivityName="com.example.ProjectMobile.MainActivityAdmin"/>
        <activity android:name="com.example.ProjectMobile.AllJobActivity"
            android:parentActivityName="com.example.ProjectMobile.MainActivity"/>

        <activity android:name="com.example.ProjectMobile.MainActivity" />
        <activity android:name="com.example.ProjectMobile.RegistrationActivity" />
        <activity android:name="com.example.ProjectMobile.MainActivityAdmin" />
        <activity android:name="com.example.ProjectMobile.RegistrationActivityAdmin" />

        <activity android:name="com.example.ProjectMobile.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>